#body{
    background-color: #f5f5f5;
    font: 12px "微软雅黑",Verdana,SimHei,"Microsoft JhengHei",Tahoma;
    color: #666;
    position: relative;
    overflow-x: hidden;
}
body, dl, dd, h1, h2, h3, h4, h5, h6, p, form{
    margin: 0;
}
ul,ol{
    margin:0;
    padding:0;
}
ul li{
    list-style-type: none;
}
ol li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #666;
    cursor:pointer
    /*outline: none;*/
}
.header,#banner,#bottom{
    border-right: 3px solid #636363;
}

.header{
    background-color: #fff;
    border-bottom: 1px solid #363636;
    width:1414px;
    height:190px;
}
.topcontainer{
    width:1414px;
    height:36px;
    margin:0 auto;
    background: #e3e4e5;
    /*position:relative;*/
}
.topcontainer_left{
    width:240px;
    height:34px;
    float:left;
    position: absolute;
    left: 100px;
}
.topcontainer_left ul li{
    float:left;
    margin-left: 10px;
    line-height:34px;
}
.topitem a{
    color: #999;
}
.topitem a:hover{
    color:red;
}
.topcontainer_right{
    width:340px;
    height:34px;
    float:right;
}
.topcontainer_right ul li{
    float:left;
    margin-left: 33px;
    line-height:34px;
}
#telshop{
    margin-left:40px;
    position:relative;
}
/*#telshop i{
    !*height: 18px;*!
    !*background:url(./img/head-icons1.png) no-repeat;*!
    width: 22px;
    height: 15px;
    border:1px solid red;
    background: url(../img/head-icons.png) no-repeat -2px -268px;
}*/
.mallup{
    float: left;

}
#telshop :hover .malldown{
    display: block;
}
.mallup div{
    margin-top: 3px;
    margin-left: 30px;
    height:0px;
    width:0px;
    border-top:6px solid white;
    border-left:6px solid white;
    border-right:6px solid white;
}

.mallup img{
    margin-left: 8px;
    width: 60px;
    height: 60px;
}
.malldown{
    width: 170px;
    height: 70px;
    margin-left: -10px;
    /*float: left;*/
    position:absolute;
    top:48px;
    right:0px;
    z-index: 3;
    background-color: white;
    display: none;
}
.malldown img{
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}
.malldown h4{
    float: left;
}
.malldown p{
    float: left;
}
.topcontent{
    width:1240px;
    height:118px;
    margin:0 auto;
}
.header-logo{
    height:118px;
    width:150px;
    line-height:118px;
    vertical-align:middle;
    overflow: hidden;
    float:left;
}
.header-logo img{
    margin-top: 40px;
    width:150px;
    height:40px;
}
.header-tools{
    height:76px;
    width:740px;
    margin-right: 110px;
    float: right;
    padding-top: 30px;
}
.search{
    width:536px;
    height:46px;
    border:1px solid green;
    float:left;
}
.shopcart{
    width:158px;
    height:46px;
    float:right;
}
.cart{
    position:relative;
}
.hidden-cart{
    display: none;
    position: absolute;
    top: 56px;
    right:0px;
    z-index: 5;
}
.cart:hover .hidden-cart{
    display:block;
}
.searchkey{
    width:536px;
    height:36px;
    clear: both;
}
.searchkey a{
    line-height: 36px;
    margin-left: 15px;
}
.searchkey a:hover{
    color: red;
}
.navbox{
    width:1240px;
    height:38px;
    clear: both;
}
.navbox-container{
    margin: 0 auto;
    height:38px;
    width:1240px;
    position: relative;
}
.navbox-container-kaimenhong{
    position: absolute;
    right: 15px;
    bottom: 5px;
}
.navbar{
    width:900px;
    height:38px;
    position: relative;
}
.topfirst{
    width: 210px;
    margin-right: 26px;
    background-color: #363636;
    float: left;
    padding: 0 12px;
    line-height: 37px;
    text-align: left;
    font-size: 14px;
}
.topfirst img{
    float:left;
    height:26px;
    width:28px;
    margin-top:5px;
    margin-left: 18px;
}
.topfirst p{
    float:left;
    /*margin-top:5px;*/
    margin-left: 15px;
}
/* banner选项卡开始*/

.navitem{
    float: left;
    padding: 0 12px;
    line-height: 37px;
    text-align: left;
    font-size: 14px;
}

.navlist{
    width:1240px;
    height:260px;
    border:1px solid #ccc;
    position:absolute;
    margin-left:0px;
    top:37px;
    left:0px;
    z-index:12;
    background: rgba(255,255,255,0.8);
    color:black;
    display:none;
}
.navlist dl dd{
    float: left;
    z-index: 5;
    padding: 0 40px;
    margin-top: 40px;
    font-size: 12px;
    text-align: center;

}
.navlist dl dd p{
    color:red;
    font-size: 16px;
}
.navlist dl dd img{
    width:120px;
    height:120px;

}
.xxphone{
    display: block;
}
/* banner选项卡结束*/

/* 中间内容开始*/
#banner{
    width: 1414px;
    height: 650px;
    background: #F2F2F2;
}
#banner_left{
    width: 150px;
    height: 319px;
    border: 1px solid #ccc;
    margin-top: 50px;
    margin-left: 90px;
    float: left;
}
#banner_left li{
    height: 40px;
    line-height: 40px;
    text-align: center;
}
.lvse{
    background: #82C92F;
    font-size: 14px;
    color: #fff;
}
.banner_right{
    width: 1065px;
    height: 500px;
    background: #fff;
    position: absolute;
    left: 260px;
    top: 242px;
}
.banner_right_top{
    height: 40px;
}
.banner_right_top span{
    float: left;
    margin-left: 20px;
    line-height: 40px;
    font-size: 18px;
    color: #82C92F;
}

.banner_right_nr{
    height: 30px;
    border-bottom: 1px solid #ccc;
}
.banner_right_nr dd{
    width: 82px;
    margin-left: 10px;
    font-size: 15px;
    float: left;
}
.banner_right_dd{
    margin-top: 15px;
    height: 40px;
    background:#82C92F;
    position: relative;
}
.banner_right_dd dd{
    margin-left: 30px;
    font-size: 15px;
    float: left;
    color: #fff;
}
#box{
    width: 300px;
    position: absolute;
    right: 80px;
}
.banner_right_kf{
    height: 30px;
    background:#F8F8FA;
}
.banner_right_kf dd{
    float: left;
    margin-top: 5px;
}
.one{
    margin-left: 20px;
}
.two{
    margin-left: 2px;
    color: #FF7800;
}
.three{
    margin-top: 5px;
    margin-left: 20px;
}
.four{
    margin-left: 530px;
}
.banner_right_kf img{
    margin-left: -85px;
}
.banner_right_sp{
    height: 100px;
    position: relative;
}
.banner_right_sp span{
    line-height: 100px;
    position: absolute;
    left: 450px;
    font-size: 15px;
}
#fy{
    width: 500px;
    height: 60px;
    position: absolute;
    left: 200px;
    top: 450px;
}
.sx{
    width: 70px;
    height: 28px;
    border: 1px solid #ccc;
    float: left;
}
.zuo{
    position: absolute;
    left: 180px;
    line-height: 30px;
}
.yeshu{
    width: 35px;
    height: 30px;
    background: #23AC38;
    float: left;
    position: absolute;
    left: 260px;
    line-height: 30px;
}
.yeshu span{
    color: #ffffff;
}
.you{
    position: absolute;
    left: 303px;
    line-height: 28px;
}
.xian{
    width: 1044px;
    height: 1px;
    border-bottom: 1px solid #ccc;
}
.tjdz{
    width: 140px;
    height: 35px;
    background: #82C92F;
    margin-top: 10px;
}
.tjdz img{
    margin-top: 8px;
    margin-left: 10px;
}
.tjdz a{
    font-size: 18px;
    color: #fff;
    margin-left: 2px;
    line-height: 35px;
}
.youhuiquan{
    display: none;
}
.xihuan{
    display: none;
}
.yuyue{
    display: none;
}
.shouhuodizhi{
    display: none;
}
.jiangpin{
    display: none;
}
#bottom{
    width: 1414px;
    height: 450px;
}
#bottom_top{
    width: 1414px;
    height: 92px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
#big_box{
    width: 1273px;
    height: 60px;
    position: absolute;
    left: 55px;
    top: 15px;
}
.box{
    width: 409px;
    height: 40px;
    float: left;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    background-repeat: no-repeat;
}
#bottom_top_left{
    width: 449px;
    height: 40px;
    border-right: 1px solid #ccc;
}
#bottom_top_banner{
    border-right: 1px solid #ccc;
}
.small1{
    width: 50px;
    height: 46px;
    position: absolute;
    left: 115px;
    bottom: 7px;
    float: left
}
.small2{
    width: 130px;
    height: 46px;
    position: absolute;
    left: 166px;
    top: 21px;
}
.small3{
    width: 50px;
    height: 46px;
    position: absolute;
    left: 550px;
    bottom: 7px;
    float: left
}
.small4{
    width: 150px;
    height: 46px;
    position: absolute;
    left: 603px;
    top: 21px;
}
.small5 {
    width: 50px;
    height: 46px;
    position: absolute;
    right: 235px;
    bottom: 7px;
    float: left
}
.small6{
    width: 130px;
    height: 46px;
    position: absolute;
    right: 130px;
    top: 21px;
}
#bottom_banner{
    width: 1414px;
    height: 273px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.identical_box{
    width: 280px;
    height: 273px;
    float: left;
}
.identical_box ul li a{
    color: #636363;
}
#box1{
    position: absolute;
    top: 0px;
    left: 55px;
}
#box1 ul li{
    width: 120px;
    height: 25px;
    font-size: 12px;
    padding-left: 65px;
    padding-top: 15px;
}
#box1 ul li a:hover{
    color: #4ABA1F;
    text-decoration: underline;
}
#box2{
    position: absolute;
    top: 0px;
    left: 395px;
}
#box2 ul li{
    width: 120px;
    height: 25px;
    font-size: 12px;
    padding-left: 65px;
    padding-top: 15px;
}
#box2 ul li a:hover{
    color: #4ABA1F;
    text-decoration: underline;
}
#box3{
    width: 350px;!important;
    position: absolute;
    top: 0px;
    left: 655px;
}
#box3 ul li{
    width: 200px;
    height: 25px;
    font-size: 12px;
    padding-left: 95px;
    padding-top: 14px;
}
#box3 ul li a:hover{
    color: #4ABA1F;
    text-decoration: underline;
}
#box4{
    position: absolute;
    top: 0px;
    left: 1020px;
}
#box4 .wx{
    float: left;
    position: absolute;
    left: 70px;
    top: 50px;
}
#box4 .wxm{
    position: absolute;
    left: 115px;
    top: 20px;
}
#box4 .wb{
    float: left;
    position: absolute;
    left: 70px;
    top: 140px;
}
#box4 .wbm{
    position: absolute;
    left: 115px;
    top: 120px;
}
#bottom_bottom{
    width: 1414px;
    height: 81px;
}
#bottom_bottom ul li{
    font-size: 12px;
    color: #636363;
    padding-top: 30px;
    text-align: center;
}
#scroll{
    width: 40px;
    height: 90px;
    position: absolute;
    right: 0px;
    top: 333px;
}
#gzh{
    width: 40px;
    height: 40px;
    background-image: url("../img/lswechat.png");
    background-color: #636363;
    position: fixed;
    top: 386px;
    right: 9px;
}
.square_box{
    width: 170px;
    height: 200px;
    border: 1px solid #ccc;
    position: absolute;
    left: -188px;
    top: -100px;
    background-color: #fff;
    display: none;
}
.square_box_one{
    position: absolute;
    top: 15px;
    left: 20px;
}
.square_box_two{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 145px;
    left: 35px;
}
.square_box_three{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 164px;
    left: 25px;
}
#gzh:hover {
    background-color: #00B01A;
}
#gzh:hover .square_box{
    display: block;
}
#app{
    width: 40px;
    height: 40px;
    background-image: url("../img/lsstore.png");
    background-color: #636363;
    position: fixed;
    top: 429px;
    right: 9px;
}
.square_box2{
    width: 170px;
    height: 200px;
    border: 1px solid #ccc;
    position: absolute;
    left: -188px;
    top: -100px;
    background-color: #fff;
    display: none;
}
.square_box2_one{
    position: absolute;
    top: 15px;
    left: 22px;
}
.square_box2_two{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 145px;
    left: 52px;
}
#app:hover {
    background-color: #00B01A;
}
#app:hover .square_box2 {
    display: block;
}