body{
    padding: 0px;
    margin: 0px;
    position: relative;
}
a {
    text-decoration: none;
    cursor:pointer
}
ul{
    list-style-type: none;
}
#top,#banner,#bottom{
    width: 1414px;
    padding: 0px;
    margin: 0px;
    border-right: 3px solid #636363;
}
#top{
    height: 155px;
}
#top_top{
    width: 1414px;
    height: 36px;
    background-color: #E3E4E5;
    position: relative;
    z-index: 5;
}
#top_top_left{
    width: 68px;
    height: 36px;
    position: absolute;
    left: 55px;
}
#top_top_left a{
    font-size: 12px;
    color: #BFBFBF;
    text-align: center;
    position: absolute;
    top: 10px;
}
#top_top_left a:hover {
    color: #409F37;
}
#top_top_right{
    width: 310px;
    height: 36px;
    position: absolute;
    right: 50px;
}
#top_top_right_one{
    width: 140px;
    height: 29px;
    position: absolute;
    right: 170px;
    text-align: center;
    padding-top: 7px;
}
#top_top_right_one:hover{
    background-color: #ffffff;
}
#top_top_right_one a{
    font-size: 12px;
    color: #BFBFBF;
}
#top_top_right_one a:hover{
    color: #409F37;
}
#top_top_right_one .zh {
    width: 140px;
    height: 300px;
    background-color: #fff;
    position: absolute;
    top: 36px;
    display: none;
}
#top_top_right_one .zh ul li a{
    width: 140px;
    height: 25px;
    color: #000;
    margin-top: 5px;
    float: right;
}
#top_top_right_one:hover .zh{
    display: block;
}
#top_top_right_one .zh ul li{
    color: black;
}
#top_top_right_one .zh ul li a:hover{
    color: #409F37;
}
#top_top_right_two{
    width: 65px;
    height: 29px;
    position: absolute;
    right: 105px;
    text-align: center;
    padding-top: 7px;
}
#top_top_right_three{
    width: 105px;
    height: 29px;
    position: absolute;
    right: 0px;
    text-align: center;
    padding-top: 7px;
}
#top_top_right_three #ewm{
    width: 177px;
    height: 74px;
    border: 1px solid #ccc;
    background-color: #fff;
    position: absolute;
    top: 36px;
    right: 0px;
    display: none
}
#top_top_right_three #ewm .sm{
    position: absolute;
    top: 0px;
    left: 0px;
}
#top_top_right_three #ewm .sj360sc{
    font-size: 12px;
    position: absolute;
    top: 18px;
    left: 80px;
}
#top_top_right_three #ewm .smxz{
    font-size: 12px;
    color: red;
    position: absolute;
    top: 38px;
    left: 80px;
}
#top_top_right_three:hover #ewm{
    display: block;
}
#top_top_right_two a,#top_top_right_three a{
    font-size: 12px;
    color: #BFBFBF;
}
#top_top_right_two a:hover,#top_top_right_three a:hover{
    color: #409F37;
}
#top_bottom{
    width: 1414px;
    height: 118px;
    padding: 0px;
    margin: 0px;
    position: relative;
    border-bottom: 1px solid #000;
}
#top_bottom .logo{
    width: 150px;
    height: 40px;
    background-image: url("../img/logo.png");
    position: absolute;
    top: 39px;
    left: 55px;
}
.ewm1{
    position: absolute;
    right: 15px;
    top: 38px;
}






#banner{
    height: 1396px;
    position: absolute;
    top: 155px;
}
#banner1{
    width: 1240px;
    height: 1356px;
    border: 1px solid #ccc;
    padding: 0px;
    margin: 30px auto;

}
#banner_top{
    height: 4px;
    background-color: #82C92F;
}
#dizhi{
    width: 1178px;
    height: 35px;
    padding: 0px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}
#dizhi ul li{
    font-size: 18px;
    position: absolute;
    left: 10px;
    bottom: 15px;
}
#tianjia{
    width: 1178px;
    height: 107px;
    padding: 0px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.tjdz{
    width: 140px;
    height: 35px;
    background: #82C92F;
    position: absolute;
    left: 10px;
}
.tjdz a{
    font-size: 18px;
    color: #fff;
    margin-left: 2px;
    line-height: 35px;
}
.tianjiadizhi{
    width: 140px;
    height: 37px;
    padding: 0px;
    margin: 0px;
    background: url(./img/tianjiadizhi.png);
    position: absolute;
    left: 0px;
    top: -10px;
}
.zhifufangshi{
    font-size: 18px;
    position: absolute;
    left: 10px;
    bottom: 15px;
}
#peisongfangshi{
    width: 1178px;
    height: 100px;
    padding: 0px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.zxzf{
    width: 90px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 5px;
    top: -10px;
}
.zxzf a{
    font-size: 14px;
    color: #000;
}
.psfs{
    font-size: 18px;
    position: absolute;
    left: 10px;
    bottom: 15px;
    float: left;
}
.jdps{
    font-size: 14px;
    color: #f00;
    position: absolute;
    left: 90px;
    bottom: 18px;
}
#fapiaoxinxi{
    width: 1178px;
    height: 100px;
    padding: 0px;
    margin: auto;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.jdkd{
    width: 90px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 5px;
    top: -10px;
}
.jdkd a{
    font-size: 14px;
    color: #000;
}
.fpxx{
    font-size: 18px;
    position: absolute;
    left: 10px;
    bottom: 15px;
    float: left;
}
.jdfp{
    font-size: 14px;
    color: #f00;
    position: absolute;
    left: 90px;
    bottom: 18px;
}
#fp{
    width: 1178px;
    height: 288px;
    padding: 0px;
    margin: auto;

    position: relative;
}
.fapiaoleixin{
    width: 210px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    left: 5px;
    top: -10px;
}
.fapiaoleixin a{
    font-size: 14px;
    color: #000;
}
.fpnr {
    font-size: 15px;
    color: #000;
    position: absolute;
    left: 35px;
    top: 38px;
}
.fptt{
    font-size: 15px;
    color: #000;
    position: absolute;
    left: 35px;
    top: 65px;

}
.gr{
    width: 180px;
    height: 42px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #409F37;
    float: left;
    position: absolute;
    left: 35px;
    top: 97px;
}
.gr dl dd{
    font-size: 15px;
    color: #409F37;
    padding-left: 35px;
    padding-top: 10px;
}
.dw{
    width: 180px;
    height: 42px;
    padding: 0px;
    margin: 0px;
    border: 1px solid #cccccc;
    float: left;
    position: absolute;
    left: 225px;
    top: 97px;

}
.dw dl dd{
    font-size: 15px;
    color: #000;
    padding-left: 35px;
    padding-top: 10px;
}
.beijintu{
    width: 16px;
    height: 16px;
    background-image: url("../img/fp_icon.png");
    float: left;
    position: absolute;
    left: 40px;
    bottom: 104px;
}
.tishi{
    width: 760px;
    height: 50px;
    font-size: 12px;
    color: #EC9F00;
    position: absolute;
    left: 60px;
    bottom: 70px;
}
#spqd{
    width: 1158px;
    height: 15px;
    padding: 10px;
    margin: auto;
    position: relative;
}
#spqd ul li{
    font-size: 18px;
    position: absolute;
    left: 10px;
    top: 0px;
}
#shangpinmingxi{
    width: 1158px;
    height: 20px;
    padding: 10px;
    margin: auto;
    position: relative;
    border-bottom: 1px solid #ccc;
    background-color: #82C92F;
}
#shangpinmingxi .spmc{
    font-size: 12px;
    color: #ffff;
    float: left;
    position: absolute;
    top: 11px;
    left: 62px;
}
#shangpinmingxi .dj{
    font-size: 12px;
    color: #ffff;
    float: left;
    position: absolute;
    top: 11px;
    left: 518px;
}
#shangpinmingxi .sl{
    font-size: 12px;
    color: #ffff;
    float: left;
    position: absolute;
    top: 11px;
    left: 614px;
}
#shangpinmingxi .hj{
    font-size: 12px;
    color: #ffff;
    position: absolute;
    top: 11px;
    left: 762px;
}
#spxq{
    width: 1158px;
    height: 80px;
    padding: 10px;
    margin: auto;
    position: relative;
    border-bottom: 1px dotted #ccc;
}
#spxq .luyouqi{
    position: absolute;
    top: 11px;
    left: 12px;
}
.jieshao{
    width: 340px;
    height: 40px;
    float: left;
    position: absolute;
    left: 106px;
    top: 30px;
}
.jieshao a{
    font-size: 14px;
    line-height: 12px;
    color: #636363;
}
.danjia{
    width: 75px;
    height: 22px;
    font-size: 22px;
    color: #363D37;
    float: left;
    position: absolute;
    left: 496px;
    top: 40px;
}
.shuliang{
    width: 30px;
    height: 22px;
    font-size: 22px;
    color: #000;
    float: left;
    position: absolute;
    left: 618px;
    top: 40px;
}
.heji{
    width: 75px;
    height: 22px;
    font-size: 22px;
    color: #EC9F00;
    position: absolute;
    left: 740px;
    top: 40px;
}
#jiesuanxiangqing{
    width: 1158px;
    height: 175px;
    padding: 10px;
    margin: auto;
    position: relative;
}
.baozhu_box{
    width: 257px;
    height: 175px;
    position: absolute;
    right: 20px;
}
.xiangtong{
    width: 200px;
    height: 16px;
    font-size: 16px;
    color: #000;
}
.ze{
    width: 50px;
    height: 16px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    float: left;
}
.jiushijiu{
    width: 200px;
    height: 22px;
    font-size: 30px;
    font-weight: bolder;
    color: #EC9F00;
    float: left;
    position: absolute;
    left: 135px;
    top: 108px;
}
.yuan{
    width: 50px;
    height: 16px;
    font-weight: bold;
    font-size: 16px;
    color: #000;
    position: absolute;
    left: 240px;
    top: 128px;
}
#youhuiquan{
    width: 543px;
    height: 133px;
    padding: 10px;
    margin-left:640px ;
    border-top: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
    position: relative;
}
.syyhq{
    font-size: 16px;
    color: #636363;
    position: absolute;
    top: 33px;
    right: 155px;
    float: left;
}
.whtp{
    width: 16px;
    height: 16px;
    background-image: url("../img/usr_coupon_question.gif");
    position: absolute;
    top: 36px;
    right: 125px;
    float: left;
}
.ky1{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 33px;
    right: 103px;
    float: left;
}
.ky2{
    font-size: 12px;
    color: #EC9F00;
    position: absolute;
    top: 35px;
    right: 96px;
    float: left;
}
.ky3{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 33px;
    right: 10px;
}
.xialaliebiao{
    position: absolute;
    top: 63px;
    right: 10px;
}
.xiala{
    width: 271px;
    height: 28px;
}
.dh_box{
    width: 92px;
    height: 32px;
    border: 1px solid #82C92F;
    position: absolute;
    top: 102px;
    right: 10px;

}
.dh_box ul li a{
    font-size: 14px;
    color: #82C92F;
    position: absolute;
    right: 11px;
    top: 5px;
}
#lijixiadan{
    width: 142px;
    height: 42px;
    padding: 0px;
    margin-left: 1053px;
    margin-top: 30px;
    background-color: #FF8200;
    position: relative;
}
#lijixiadan ul li a{
    font-size: 18px;
    color: #fff;
    position: absolute;
    top: 8px;
    left: 36px;
}






#bottom{
    width: 1414px;
    height: 450px;
    position: absolute;
    top: 1550px;
}
#bottom_top{
    width: 1414px;
    height: 92px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
#big_box{
    width: 1273px;
    height: 60px;
    position: absolute;
    left: 55px;
    top: 15px;
}
.box{
    width: 409px;
    height: 40px;
    float: left;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    background-repeat: no-repeat;
}
#bottom_top_left{
    width: 449px;
    height: 40px;
    border-right: 1px solid #ccc;
}
#bottom_top_banner{
    border-right: 1px solid #ccc;
}
.small1{
    width: 50px;
    height: 46px;
    position: absolute;
    left: 115px;
    bottom: 7px;
    float: left
}
.small2{
    width: 130px;
    height: 46px;
    position: absolute;
    left: 166px;
    top: 21px;
}
.small3{
    width: 50px;
    height: 46px;
    position: absolute;
    left: 550px;
    bottom: 7px;
    float: left
}
.small4{
    width: 150px;
    height: 46px;
    position: absolute;
    left: 603px;
    top: 21px;
}
.small5 {
    width: 50px;
    height: 46px;
    position: absolute;
    right: 235px;
    bottom: 7px;
    float: left
}
.small6{
    width: 130px;
    height: 46px;
    position: absolute;
    right: 130px;
    top: 21px;
}
#bottom_banner{
    width: 1414px;
    height: 273px;
    border-bottom: 1px solid #ccc;
    position: relative;
}
.identical_box{
    width: 280px;
    height: 273px;
    float: left;
}
.identical_box ul li a{
    color: #636363;
}
#box1{
    position: absolute;
    top: 0px;
    left: 55px;
}
#box1 ul li{
    width: 120px;
    height: 25px;
    font-size: 12px;
    padding-left: 65px;
    padding-top: 15px;
}
#box1 ul li a:hover{
    color: #4ABA1F;
    text-decoration: underline;
}
#box2{
    position: absolute;
    top: 0px;
    left: 395px;
}
#box2 ul li{
    width: 120px;
    height: 25px;
    font-size: 12px;
    padding-left: 65px;
    padding-top: 15px;
}
#box2 ul li a:hover{
    color: #4ABA1F;
    text-decoration: underline;
}
#box3{
    width: 350px;!important;
    position: absolute;
    top: 0px;
    left: 655px;
}
#box3 ul li{
    width: 200px;
    height: 25px;
    font-size: 12px;
    padding-left: 95px;
    padding-top: 14px;
}
#box3 ul li a:hover{
    color: #4ABA1F;
    text-decoration: underline;
}
#box4{
    position: absolute;
    top: 0px;
    left: 1020px;
}
#box4 .wx{
    float: left;
    position: absolute;
    left: 70px;
    top: 50px;
}
#box4 .wxm{
    position: absolute;
    left: 115px;
    top: 20px;
}
#box4 .wb{
    float: left;
    position: absolute;
    left: 70px;
    top: 140px;
}
#box4 .wbm{
    position: absolute;
    left: 115px;
    top: 120px;
}
#bottom_bottom{
    width: 1414px;
    height: 81px;
}
#bottom_bottom ul li{
    font-size: 12px;
    color: #636363;
    padding-top: 30px;
    text-align: center;
}

#scroll{
    width: 40px;
    height: 90px;
    position: absolute;
    right: 0px;
    top: 333px;
}
#gzh{
    width: 40px;
    height: 40px;
    background-image: url("../img/lswechat.png");
    background-color: #636363;
    position: fixed;
    top: 386px;
    right: 9px;
}
.square_box{
    width: 170px;
    height: 200px;
    border: 1px solid #ccc;
    position: absolute;
    left: -188px;
    top: -100px;
    background-color: #fff;
    display: none;
}
.square_box_one{
    position: absolute;
    top: 15px;
    left: 20px;
}
.square_box_two{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 145px;
    left: 35px;
}
.square_box_three{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 164px;
    left: 25px;
}
#gzh:hover {
    background-color: #00B01A;
}
#gzh:hover .square_box{
    display: block;
}
#app{
    width: 40px;
    height: 40px;
    background-image: url("../img/lsstore.png");
    background-color: #636363;
    position: fixed;
    top: 429px;
    right: 9px;
}
.square_box2{
    width: 170px;
    height: 200px;
    border: 1px solid #ccc;
    position: absolute;
    left: -188px;
    top: -100px;
    background-color: #fff;
    display: none;
}
.square_box2_one{
    position: absolute;
    top: 15px;
    left: 22px;
}
.square_box2_two{
    font-size: 12px;
    color: #636363;
    position: absolute;
    top: 145px;
    left: 52px;
}
#app:hover {
    background-color: #00B01A;
}
#app:hover .square_box2 {
    display: block;
}